@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-image: url(../images/bolt.png);
height: 300vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color:rgb(200, 208, 214)

}

.title {
    font-size: 6rem;
    margin: 30px 0px 30px 0px;
    font-family: 'Grenze Gotisch', cursive;
    color: rgb(229, 231, 240);
}

.main {
  
    margin: 50px;
    box-shadow: 5px 15px 14px grey ;
    border-radius: 1.5%;
    width: 70%;
    margin-left: 250px;
}

img {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    border: 3px solid rgb(206, 205, 205);
    border-radius: 2%;
}

.bio {
    margin: 40px;
    background-color: rgb(4, 14, 32);
    border-radius: 2%;
    padding: 30px;
    font-family: 'Merienda', cursive;
}

h2{
    margin-bottom: 10px;
}

